@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500&display=swap');
body{
    background-image: url(./Utilidades/stacked-waves-haikei\(4\).svg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 25s infinite alternate;
    margin: 0;
    padding: 0;
    color: rgb(31, 31, 31);
}

html{
    scroll-behavior: smooth;
}
@keyframes rotate{
    100%{
        background-position: 60% 30%;
    }
}
a{
    text-decoration: none;
}
.bar{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    position:fixed;
    background-color:rgb(50, 48, 66) ;
    padding: .8rem;
    border-radius: 0rem;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
}
.bar>a>span{
    font-size: 1.2rem;
    color: aliceblue;
    padding: .8rem;
    background-color: rgba(201, 201, 201, 0.053);
    border-radius: 2rem;
}
.contenedorprincipal{
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: rgb(239, 239, 239);
}
#container1>h3{
    margin-top: 4rem;
    font-weight: 200;
    font-size: 1.6rem;
    margin-bottom: -2rem;
}
#container1>h2{
    font-size: 2.4rem;
    margin-bottom: -0.5rem;
}
#container1>p{
    font-weight: 200;
    font-size: .8rem;
}
#container1{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec1buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 1rem;
    margin: 1.8rem
}
.sec1buttons a{
    transition: 300ms;
}
.sec1buttons a:hover{
    background-color: rgb(50, 48, 66) ;
    color: aliceblue;
    transition: 200ms;
}
.sec1buttons>.cv{
    color:rgb(111, 100, 237) ;
    border: solid rgb(111, 100, 237);
    border-radius: .4rem;
    padding: 1rem;
}
.sec1buttons>.about{
    color:rgb(255, 255, 255) ;
    background-color: rgb(111, 100, 237);
    border: solid rgb(111, 100, 237);
    border-radius: .4rem;
    padding: 1rem;
}
.sec1img>img{
    margin-top: 2rem;
    width: 17rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.459);
}
#container2{
    padding-top: 2rem;
    margin-top: 10rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container2>h3{
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: -1rem;
}
#container2>h2{
    font-size: 2.4rem;
    color: rgb(111, 100, 237);
}
#container2>p{
    font-weight: 200;
    font-size: 1rem;
}
.sec2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10rem;
    margin-top: 1rem;
    text-align: center;
}
.sec2img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec2img>img{
    box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.459);
    width: 56%;
    border-radius: 1rem;
}
.sec2info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}
.sec2tarjetas{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
    font-weight: 500;
    width: 100%;
}
.sec2card{
    background-color: rgba(196, 196, 196, 0.139);
    width: 100%;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.sec2card span{
    font-size: 1.4rem;
}
.sec2card p{
    font-size: .7rem;
    font-weight: 100;
    color: rgb(56, 56, 56);
}
.sec2card h2{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(56, 56, 56);
}
.sec2text{
    font-weight: 100;
    font-size: 1.1rem;
    width: 70%;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.114);
}
.sec2contact a{
    color:rgb(255, 255, 255) ;
    background-color: rgb(111, 100, 237);
    border: solid rgb(111, 100, 237);
    border-radius: .4rem;
    padding: 1rem;
    transition:200ms;
}
.sec2contact a:hover{
    background-color: rgb(50, 48, 66) ;
    transition:100ms;
    color: white;
    border:rgb(50, 48, 66) ;
}
#container3{
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container3>h3{
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: -1rem;
}
#container3>h2{
    font-size: 2.4rem;
    color: rgb(111, 100, 237);
}
.sec3{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
}
.sec3target{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 227, 227, 0.559);
    border-radius: 2rem;
}
.sec3target>h3{
    border: solid rgb(111, 100, 237) 2px;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
}
.targetskills{
    padding: 2rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}
  .progressBarContainer {
    width: 7rem;
    height: .5rem;
    background: rgba(79, 79, 79, 0.2);
    overflow: hidden;
    border-radius: 5px;
  }
  .progressBarValue {
    height: 1rem;
    float: left;
    background: rgb(130, 126, 184);
  }
  .value-00 { width: 0; }
  .value-10 { width: 10%; }
  .value-20 { width: 20%; }
  .value-30 { width: 30%; }
  .value-40 { width: 40%; }
  .value-50 { width: 50%; }
  .value-60 { width: 60%; }
  .value-70 { width: 70%; }
  .value-80 { width: 80%; }
  .value-90 { width: 90%; }
  .value-100 { width: 100%; }
.skill h3{
    font-size: .8rem;
    font-weight: 100;
    margin-top: -1rem;
}
.skill h2{
    font-size: 1.2rem;
}
.skill>h2>span{
    color:rgb(111, 100, 237);
    font-size: 1rem;
}
#container4{
    padding-bottom: 8rem;
    padding-top: 3rem;
    margin-top: 10rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container4>h3{
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: -1rem;
}
#container4>h2{
    font-size: 2.4rem;
    color: rgb(111, 100, 237);
}
.sec4{
    background-color: rgba(227, 227, 227, 0.6);
    border-radius: 2rem;
    width: 40%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}
.sec4target{
    color: aliceblue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.targettop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    justify-content: center;
}
.targetbot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.targetcontact{
    color: rgb(0, 0, 0);
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(201, 201, 201, 0.053) ;
    width: 10rem;
    padding: 2rem;
    border-radius: 1rem;
}
.targetcontact h2{
    font-weight: 400;
    margin-bottom: -.5rem;
}
.targetcontact h3{
    font-weight: 100
}
@media (max-width:1370px) {
    .sec2{
        flex-direction: column;
        gap: 3rem;
    }
    .sec2img{
        width: 50%;
    }
    .container3{
        padding-top: 10rem;
    }
    .sec3{
        gap:1rem;
    }
    .targetskills{
        gap: 3rem;
    }
    .targetbot{
        gap:0rem;
    }
    .targettop{
        gap:0rem;
    }
}
@media (max-width:1130px){
    .sec3{
        flex-direction: column;
        gap: 3rem;
    }
    .targetcontact{
        width: 6rem;
    }
    .targetcontact>h3{
        font-size: 100%;
    }
}
@media (max-width:800px){
    .contenedorprincipal{
        margin:0;
    }
    .bar{
        background-color: rgba(140, 140, 173, 0.651);
        gap: 1rem;
        height: auto;
        flex-direction: row;
        bottom: auto;
        top:0;
        right: 0;
        left:0;
        border-radius: 2rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .bar>a>span{
        background-color: rgba(59, 58, 102, 0.717);
    }
    #container1{
        padding-top: 4rem;
    }
    #container2{
        padding-top: 6rem;
    }
    #container3{
        padding-top: 7rem;
    }
    #container4{
        padding-top: 6rem;
    }
    .sec2tarjetas{
        flex-direction: column;
        align-items: center;
    }
    .sec2img{
        width: 100%;
        gap: 2rem;
    }
    .sec2img img{
        width: 100%;
    }
    .sec2text{
        width: 100%;
    }
    .sec4{
        width: 70%;
    }
    .targetcontact{
        width: 100%;
        background-color: rgba(240, 248, 255, 0);
        padding: 2rem;
    }
    .targetcontact>h3{
        font-size: 100%;

    }
    .targetbot{
        flex-direction: column;
        gap:0rem;
    }
    .targettop{
        flex-direction: column;
        gap:0rem;
    }
}